* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

a,
a:visited {
    text-decoration: none;
    color: #f8f8f8;
}

a:hover {
    color: #dc3333;
}

h1 {
    font-size: 33px;
    font-family: Merienda, sans-serif;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 32px;
    font-family: Merienda, sans-serif;
}

h4 {
    font-size: 19px;
    font-weight: 700;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

section#header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
}

section div#header-elems {
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: 1;
}

section div#slideshow {
    width: 100%;
    height: inherit;
    z-index: 0;
}

section div#slideshow div.slider-title-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section div#slideshow div.slider-title-container p.slider-title {
    margin-top: -300px;
    margin-bottom: 15px;
    font-size: 35px;
    color: #dc3333;
    font-weight: 700;
}
section div#slideshow div.slider-title-container p.slider-subtitle {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

section#header header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section#header header.fixed {
    position: fixed;
    background-color: #151515;
}

section#header header h1 {
    align-self: center;
    color: #f8f8f8;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
}

section#header header h1 span {
    color: #dc3333;
}

section#header header nav {
    align-self: center;
    margin-left: auto;
}

section#header header nav ul li {
    display: inline;
    margin-left: 15px;
}

section#header header nav ul li a {
    font-size: 18px;
    position: relative;
}

section#header header nav ul li a:before {
    /*    content: '';
      width: 0;
      height: 2px;
      background: #dc3333;
      position: absolute;
      left: 0;
      top: 100%;
      transition: all .5s ease-in;*/
}

section#header header nav ul li a.active,
section#header header nav ul li a:hover {
    color: #dc3333;
}

section#header header nav ul li a.active:before,
section#header header nav ul li a::before {
    width: 100%;
    border-color: #dc3333;
}

section#header h2 {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    color: #f8f8f8;
}

section#header h2 span:first-child {
    color: #dc3333;
    font-weight: 700;
}

section#header h2 span {
    display: block;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
}

/* TODO: trouver un nouveau nom */
section#header div#header-bottom {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 30px;
    background: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

section#header div#header-bottom div.header-card {
    width: 30%;
    align-self: center;
    display: flex;
    border-right: 2px solid #dc3333;
    padding-left: 30px;
    justify-content: space-around;
}

section#header div#header-bottom div.header-card:last-child {
    border: 0;
}

section#header div#header-bottom div.header-card > div {
    display: flex;
}

section#header div#header-bottom div.header-card i {
    align-self: center;
    color: #dc3333;
    font-size: 25px;
    margin-right: 15px;
}

section#header div#header-bottom div.header-card div {
    align-self: center;
}

section#header div#header-bottom div.header-card div span {
    display: block;
    color: #f8f8f8;
}

section#header div#header-bottom div.header-card div span a {
}

main {
    width: 100%;
}

main section {
    width: 100%;
    position: relative;
    padding: 100px 0;
    background: #f8f8f8;
}


section#menu {
    background: #151515;
}

section#menu h3 {
    width: 100%;
    color: #f8f8f8;
    text-align: center;
    margin-bottom: 45px;
}

section#menu h3 span {
    color: #dc3333;
}

section#menu ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

section#menu ul li {
    width: 35%;
    margin-bottom: 25px;
    display: flex;
}

section#menu ul li > span {
    align-self: center;
    color: #d4d4d4;
}

section#menu ul li > span strong {
    display: block;
    margin-bottom: 5px;
}

section#menu ul li > span span {
}

section#menu ul li > span.price {
    margin-left: auto;
    font-size: 18px;
}



@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 960px) {
    main section {
        padding: 50px 0;
    }
    section#gallery {
        padding: 90px 0;
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 380px) {
}
