/* Reset */
blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}abbr,acronym,fieldset,img{border:0}address,caption,cite,code,dfn,em,th,var{font-weight:400}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}q:after,q:before{content:""}a{outline:0}input:-webkit-autofill,input:-webkit-autofill:active,input:-webkit-autofill:focus,input:-webkit-autofill:hover{-webkit-box-shadow:0 0 0 1000px #e0e1e4 inset;transition:background-color 5000s ease-in-out 0s;color:#002e62!important;caret-color:#002e62!important;-webkit-text-fill-color:#002e62!important}
/* Global */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

a,
a:visited {
    text-decoration: none;
    color: #f8f8f8;
}

a:hover {
    color: #dc3333;
}

h1 {
    font-size: 33px;
    font-family: Merienda, sans-serif;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 32px;
    font-family: Merienda, sans-serif;
}

h4 {
    font-size: 19px;
    font-weight: 700;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

.flex-rows-break {
    flex-basis: 100%;
    width: 0;
}

section#header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
}

section div#header-elems {
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: 1;
}

section div#slideshow {
    width: 100%;
    height: inherit;
    z-index: 0;
}

section div#slideshow div.slider-title-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section div#slideshow div.slider-title-container p.slider-title {
    margin-top: -300px;
    margin-bottom: 15px;
    font-size: 35px;
    color: #dc3333;
    font-weight: 700;
}
section div#slideshow div.slider-title-container p.slider-subtitle {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

section#header header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section#header header.fixed {
    position: fixed;
    background-color: #151515;
}

section#header header h1 {
    align-self: center;
    color: #f8f8f8;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
}

section#header header h1 span {
    color: #dc3333;
}

section#header header nav {
    align-self: center;
    margin-left: auto;
}

section#header header nav ul li {
    display: inline;
    margin-left: 15px;
}

section#header header nav ul li a {
    font-size: 18px;
    position: relative;
}

section#header header nav ul li a:before {
    /*    content: '';
      width: 0;
      height: 2px;
      background: #dc3333;
      position: absolute;
      left: 0;
      top: 100%;
      transition: all .5s ease-in;*/
}

section#header header nav ul li a.active,
section#header header nav ul li a:hover {
    color: #dc3333;
}

section#header header nav ul li a.active:before,
section#header header nav ul li a::before {
    width: 100%;
    border-color: #dc3333;
}

section#header h2 {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    color: #f8f8f8;
}

section#header h2 span:first-child {
    color: #dc3333;
    font-weight: 700;
}

section#header h2 span {
    display: block;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
}

/* TODO: trouver un nouveau nom */
section#header div#header-bottom {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 30px;
    background: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}

section#header div#header-bottom div.header-card {
    width: 30%;
    align-self: center;
    display: flex;
    border-right: 2px solid #dc3333;
    padding-left: 30px;
    justify-content: space-around;
}

section#header div#header-bottom div.header-card:last-child {
    border: 0;
}

section#header div#header-bottom div.header-card > div {
    display: flex;
}

section#header div#header-bottom div.header-card i {
    align-self: center;
    color: #dc3333;
    font-size: 25px;
    margin-right: 15px;
}

section#header div#header-bottom div.header-card div {
    align-self: center;
}

section#header div#header-bottom div.header-card div span {
    display: block;
    color: #f8f8f8;
}

section#header div#header-bottom div.header-card div span a {
}

main {
    width: 100%;
}

main section {
    width: 100%;
    position: relative;
    padding: 100px 0;
    background: #f8f8f8;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 960px) {
    main section {
        padding: 50px 0;
    }
    section#gallery {
        padding: 90px 0;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 380px) {
}
