section#header {
    width: 100%;
    max-height: 100vh;
    position: relative;
    display: block;
}

section div#header-elems {
    position: absolute;
    width: calc(100% - 50px);
    height: inherit;
    z-index: 3;
    margin: 0px 25px;
}
section div#header-elems .wrapper {
    padding: 20px 0;
}

section div#slideshow {
    width: 100%;
    height: inherit;
    z-index: 0;
}

section div#slideshow,
section div#slideshow .carousel-root,
section div#slideshow .carousel-root .carousel.carousel-slider,
section div#slideshow .carousel-root .carousel.carousel-slider .slider-wrapper,
section div#slideshow .carousel-root .carousel.carousel-slider .slider-wrapper ul,
section div#slideshow .carousel-root .carousel.carousel-slider .slider-wrapper ul li div,
section div#slideshow .carousel-root .carousel.carousel-slider .slider-wrapper ul li {
    max-height: inherit;
}

section div#slideshow #carousel .carousel.carousel-slider img {
    object-fit: cover;
}

section div#slideshow div.slider-title-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section div#slideshow div.slider-title-container p.slider-title {
    margin-bottom: 15px;
    font-size: 35px;
    color: #dc3333;
    font-weight: 700;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
}
section div#slideshow div.slider-title-container p.slider-subtitle {
    color: #f8f8f8;
    font-size: 25px;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
}

section#header header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section#header header.fixed {
    position: fixed;
    background-color: #151515;
}

section#header header.fixed .wrapper {
    padding: 20px;
}

section#header header h1 {
    align-self: center;
    color: #f8f8f8;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
}

section#header header h1 span {
    color: #dc3333;
}

section#header header nav {
    align-self: center;
    margin-left: auto;
}

section#header header nav ul li {
    display: inline;
    margin-left: 15px;
}

section#header header nav ul li a {
    font-size: 18px;
    position: relative;
}

section#header header nav ul li a:before {
    /*    content: '';
      width: 0;
      height: 2px;
      background: #dc3333;
      position: absolute;
      left: 0;
      top: 100%;
      transition: all .5s ease-in;*/
}

section#header header nav ul li a.active,
section#header header nav ul li a:hover {
    color: #dc3333;
}

section#header header nav ul li a.active:before,
section#header header nav ul li a::before {
    width: 100%;
    border-color: #dc3333;
}

section#header h2 {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    color: #f8f8f8;
}

section#header h2 span:first-child {
    color: #dc3333;
    font-weight: 700;
}

section#header h2 span {
    display: block;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
}

/* TODO: trouver un nouveau nom */
section#header div#header-bottom {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 30px;
    background: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    z-index: 2;
}

section#header div#header-bottom div.header-card {
    width: 30%;
    align-self: center;
    display: flex;
    border-right: 2px solid #dc3333;
    padding-left: 30px;
    justify-content: space-around;
}

section#header div#header-bottom div.header-card:last-child {
    border: 0;
}

section#header div#header-bottom div.header-card > div {
    display: flex;
}

section#header div#header-bottom div.header-card i {
    align-self: center;
    color: #dc3333;
    font-size: 25px;
    margin-right: 15px;
}

section#header div#header-bottom div.header-card div {
    align-self: center;
}

section#header div#header-bottom div.header-card div span {
    display: block;
    color: #f8f8f8;
}

section#header div#header-bottom div.header-card div span a {
}


section#header div#header-bottom div.header-card#card-planning {
    position: relative;
}
section#header div#header-bottom div.header-card#card-planning > div {
    cursor: pointer;
}

section#header div#header-bottom div.header-card#card-planning > div:hover div span:first-child {
    color: #dc3333;
}
section#header div#header-bottom div.header-card#card-planning #planning {
    position: absolute;
    bottom: 52px;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 100%;
    display: block;
}
section#header div#header-bottom div.header-card#card-planning #planning p {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    color: #f8f8f8;
}
section#header div#header-bottom div.header-card#card-planning #planning p strong {
    color: #dc3333;
    width: 80px;
    display: inline-block;
}

#hamburger {
    display: none;
}

@media screen and (max-width: 960px) {
    #hamburger,
    #hamburger span {
        display: block;
        position: relative;
    }
    #hamburger {
        width: 30px;
        height: 35px;
        left: 0;
        top: 0;
        padding-top: 5px;
        align-self: center;
    }
    #hamburger span {
        width: 100%;
        height: 4px;
        margin: 0 0 5px;
        border-radius: 2px;
        -webkit-background-clip: padding-box;
        background: #f8f8f8;
    }
    .nav-mobile-overlay {
        opacity: 0.5;
        background: #000;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        position: fixed;
    }
    section#header header nav.burger-nav {
        background-color: #151515;
        z-index: 11;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    section#header header nav.burger-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section#header header nav.burger-nav ul.otherAppLink {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    section#header header nav.burger-nav ul li a i {
        font-size: 35px;
        margin: 20px;
    }
    section#header header nav.burger-nav ul li {
        margin-top: 20px;
    }
}
@media screen and (max-width: 1080px) {
    section div#slideshow div.slider-title-container p.slider-title {
        font-size: 35px;
    }
}

@media screen and (max-width: 850px) {
    section#header div#header-bottom div.header-card div span,
    section#header div#header-bottom div.header-card div span a {
        font-size: 14px;
    }
    section#header div#header-bottom div.header-card i {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    section div#slideshow div.slider-title-container p.slider-title {
        font-size: 30px;
    }
    section div#slideshow div.slider-title-container p.slider-subtitle {
        font-size: 20px;
    }

    section#header div#header-bottom div.header-card {
        width: 50%;
        align-self: center;
        font-size: 12px;
        display: flex;
        justify-content: center;
        border: none;
        padding: 0;
    }
    section#header header nav ul li a {
        font-size: 16px;
    }
    section#header div#header-bottom {
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        height: 50px;
    }

    section#header div#header-bottom .wrapper {
        justify-content: space-around;
    }

    section#header div#header-bottom div.header-card:nth-child(3) {
        display: none;
    }
    section#header div#header-bottom div.header-card#card-planning #planning {
        bottom: 43px;
        background: rgba(0, 0, 0, 0.7);
    }
}
@media screen and (max-width: 450px) {
    section#header div#header-bottom div.header-card {
        width: 100%;
    }
    section#header div#header-bottom div.header-card:nth-child(2) {
        display: none;
    }

    section div#slideshow div.slider-title-container p.slider-title {
        font-size: 25px;
    }
    section div#slideshow div.slider-title-container p.slider-subtitle {
        font-size: 15px;
    }

    section#header div#header-bottom div.header-card#card-planning #planning p {
        margin-bottom: 2px;
        font-size: 13px;
    }

    section#header div#header-bottom {
        z-index: 3;
    }
}
@media screen and (max-width: 380px) {
    section div#slideshow div.slider-title-container p.slider-title {
        font-size: 20px;
    }
    section div#slideshow div.slider-title-container p.slider-subtitle {
        font-size: 10px;
    }
}
