section#gallery .carousel__inner-slide {
    width: calc(100% - 20px);
    height: calc(100% - 25px);
    left: 10px;
}

section#gallery .carousel__inner-slide img {
    object-fit: cover;
    border-style: solid;
    border-width: 2px;
    border-color: #151515;
}

section#gallery .carousel__inner-slide p {
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1280px) {
    section#gallery .gallery-arrow {
        left: 20px;
        top: 45%;
        margin-top: -10px;
    }
    section#gallery #arrow-right {
        left: auto;
        right: 20px;
    }
    section#gallery .gallery-arrow i {
        font-size: 25px;
    }
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 960px) {
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 380px) {
}
