footer {
    width: 100%;
    height: 80px;
    background: #151515;
}

footer p {
    align-self: center;
    color: #f8f8f8;
}

footer ul {
    align-self: center;
    margin-left: auto;
}

footer ul li {
}

footer ul li a {
}

footer ul li a:hover {
    color: #dc3333;
}

button#close-legal-notice {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 5px 8px;
    border-radius: 50%;
    border: 2px solid #151515;
    background: #f8f8f8;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
button#close-legal-notice:hover {
    border-color: #dc3333;
    color: #dc3333;
}

button#close-legal-notice:focus {
    outline: none;
}
.Modal {
    position: absolute;
    max-width: 1280px;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    z-index: 1;
    cursor: default;
    overflow-y: scroll;
}

.Modal::-webkit-scrollbar {
    width: 40px;
}
.Modal::-webkit-scrollbar-thumb {
    border: 15px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.15);
}

.Modal:focus {
    outline: none;
}

.Modal h1,
.Modal h2,
.Modal h3,
.Modal h4,
.Modal h5,
.Modal h6 {
    line-height: 300%;
}

.Modal p {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    color: #151515;
}

.Modal a {
    color: #151515;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 2;
}

@media screen and (max-width: 768px) {
    footer {
        display: none;
    }
}
